

    body{
        margin: 0;
        padding: 0;
        font-family:verdana;
        background-color:black;
    }
    
    /* Haut de ma page */
    
    header{
        display:flex;
        width:100%;
        height:120px;
        justify-content:space-between;
        background-color:#F1EEEE;
    }

     /* Contient le logo du site */

    #logo {
        position:absolute;
        margin-top: 2%;
        margin-bottom: 3%;
        padding-left:2%;
        width: 95px;
        vertical-align: middle;
    }
    
    /*Menu du site */

    #menu {
        width:100%;
        text-align:center;
    }

    #menu1{
        width:100%;
    }

    a{
        text-decoration:none;
        color:black;
    }
    
    .li1{
        display:inline-block;
        font-size:20px;
        margin-top:2%;
        padding-left:3%;
        padding-right:3%;
    }

    /* titre H1 */

    h1{
        color:white;
        text-align:center;
        font-family:georgia;
    }

    /* Image de couverture*/

    img{ 
        width:100%;    
    }

    /* Page 1 : Les oeuvres d'art */


    h2{ 
        color:white;
        font-family:inter;
        font-size:24px;
     }

     #lesoeuvres{
        padding-top:100px;
        padding-bottom:50px;
        color: white;
        text-align: center;
        font-weight: bold;
    }

    #blocphoto{ 
        max-width: 1050px;
        display:flex;
        flex-wrap:wrap;
        margin:auto;
        gap:50px;
    }

     #blocphoto img{
        width:500px;
        height:390px;
     }

    /* Page 2 : Les artistes */


    #lesartistes{ 
        padding-top:100px;
        padding-bottom:50px;
        color: white;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-top: 20px;
     }

     #blocartistes{
        max-width:900;
        display:flex;
        flex-wrap:wrap;
     }

     #blocartistes img{
        width: 295px;
        height: 286px;
        margin:auto;
        border-radius: 50%;
        gap:30px;
     }

     #blocartistes img:hover {
        visibility: visible;
        transform: scale(1.1);
    }

    /* Page 3 : Histoire du site internet */

     #quisommesnous{ 
    padding-top:100px;
    padding-bottom:50px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    }

      #texte{
    max-width:900px;
    color: white;
    text-align:center;
    margin:auto;
        }

    b{
    font-weight: initial;
    color:#F39E83;
    }

    /* Page 4 : Formulaire d'inscription */

    #formulaire{
    padding-top:100px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    }

    #bloc0{
        text-align:center;
    }

    #bloc1{
        text-align:left;
        padding-left:25px;
    }
    
    h3{ 
    color:white;
    width:300px;
    margin:auto;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#F39E83;
    }

    form{
    background-color:#F1EEEE;
    width:300px;
    margin:auto;
    display:flex;
    color:white;
    text-align:center;
    color:black;
    }

     input[type="submit"] {
    font-size: 0.9em; 
    color:white; 
    border: 2px outset black;
    background-color:#AAA;
    }

    input[type="submit"]:hover{
    color:black;
    font-weight:bold;
    }

    /* Contact de l'entreprise*/

    footer{
        color:white;
        text-align:center;
    }

    #contact{
        padding-top:100px;
    }

    





    








